# Godot 4+
.godot/
.import/
export.cfg
export_credentials.cfg
*.translation
*.import

# Android
/android/

# Mono / C#
.mono/
.mono/temp/
bin/
obj/
data_*/
mono_crash.*.json

# IDE
.vscode/
.vs/
.idea/

# Logs / temp
*.log
*.tmp

# OS
.DS_Store
Thumbs.db
